#show-country img{
width: 200px;
}
.country-div{
    border: 2px solid black;
    border-radius: 10px;
    background-color: darkorange;
    width: 300px;
    text-align: center;
    margin: 15px;
    padding: 10px;
}
#show-countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}